name: "hiperium-devices"
services:

  device-read-function:
    image: "hiperium/device-read-function:1.0.0"
    container_name: "device-read-function"
    build:
      context: functions/device-read-function
      dockerfile: tools/docker/Dockerfile-native
    ports:
      - "9001:8080"
    env_file:
      - utils/docker/lambda.env
    volumes:
      - devices-data-volume:/var/tmp
    networks:
      - "devices-network"

  device-update-function:
    image: "hiperium/device-update-function:1.0.0"
    container_name: "device-update-function"
    build:
      context: functions/device-update-function
      dockerfile: tools/docker/Dockerfile-native
    ports:
      - "9002:8080"
    env_file:
      - utils/docker/lambda.env
    volumes:
      - devices-update-volume:/var/tmp
    networks:
      - "devices-network"
    depends_on:
      - "device-read-function"

  devices-localstack:
    image: localstack/localstack:latest
    container_name: "devices-localstack"
    ports:
      - "4566:4566"
    env_file:
      - utils/docker/localstack.env
    volumes:
      - devices-data-volume:/var/tmp/devices-data
      - devices-update-volume:/var/tmp/devices-update
      - /var/run/docker.sock:/var/run/docker.sock
      - ./functions/device-read-function/src/test/resources/localstack/table-data.json:/var/lib/localstack/table-data.json
      - ./functions/device-read-function/src/test/resources/localstack/table-setup.sh:/etc/localstack/init/ready.d/1_table-setup.sh
      - ./utils/docker/localstack/lambda-native-setup.sh:/etc/localstack/init/ready.d/2_lambda-setup.sh
    networks:
      - "devices-network"
    depends_on:
      - "device-update-function"

volumes:
  devices-data-volume:
  devices-update-volume:

networks:
  devices-network:
